
#forgot-password-container {
  height: 100vh;
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
  background: url('../images/offer-banner-1.jpg') no-repeat center center;
  background-size: cover;
  background-position-y: -100px;
  font-size: 16px;
}
#wrapper-forgotPassword {
    width: 100%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}

#form-forgotPassword {
    display: flex;
    flex-direction: column;
}

#form-forgotPassword .form-heading {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    font-weight: bold;
    color: #333;
}

#form-forgotPassword .form-group {
    margin-bottom: 20px;
}

#form-forgotPassword .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.2s;
}

#form-forgotPassword .form-input:focus {
    border-color: #4096ff;
}

#form-forgotPassword .form-submit {
    background-color: #4096ff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

#form-forgotPassword .form-submit:hover {
    background-color: #191818;
}