.wrapper-register {
    background: url('../images/hero-banner.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerForm{
    margin:100px auto;
    padding:40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    max-width: 450px;
    width: 70%;
    background-color: #ffffff;
}
h1{
    text-align: center;
}
.group-form{
    margin-bottom: 12px;
}
#register-form label,input{
    display:block;
    width: 100%;
    line-height: 1.4;
    font-weight: bold;
}
input{
    padding:7px;
    border-radius: 8px;
    border:1px solid #aaa;
    box-sizing: border-box;
    font-size: 12px;
}
input:focus {
    outline: none;
    box-shadow: none;
}
input[status="error"] {
    border: 1px solid red;
}

.button-submit{
    background-color: blue;
    color: white;
    border: 1px solid white;
    width: 100%;
    padding: 10px 24px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    transition: all 0.5s;
    text-align: center;
}
.button-submit:hover{
    cursor: pointer;
    background-color: gray;
    color:blue;
}

.error-message{
    font-size: 13px;
    color:red;
    animation: fadeDown 0.2s linear;
}
@keyframes fadeDown{
    from{
        transform:translateY(-10px);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;

    }
}